*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f4f7fb;
}

.container{
width:95%;
max-width:1200px;
margin:auto;
padding:30px;
}

h1{
text-align:center;
margin-bottom:25px;
color:#1565c0;
}

.top{
display:flex;
justify-content:space-between;
margin-bottom:20px;
}

.top input{
width:300px;
padding:10px;
border:1px solid #ccc;
border-radius:8px;
}

button{
background:#1565c0;
color:#fff;
border:none;
padding:10px 20px;
border-radius:8px;
cursor:pointer;
}

button:hover{
background:#0d47a1;
}

table{
width:100%;
border-collapse:collapse;
background:white;
box-shadow:0 4px 12px rgba(0,0,0,.1);
}

th{
background:#1565c0;
color:white;
padding:15px;
}

td{
padding:15px;
border-bottom:1px solid #eee;
text-align:center;
}

.delete{
background:#d32f2f;
}

.delete:hover{
background:#b71c1c;
}